export("inc")
export("getsims")
export("or_to_rr")
export("inc_br_sens")
export("inc_t_sens")
export("inc_inf")
export("inc_subset")
export("print.inc_t_sens")
export("print.inc")
export("summary.inc")
export("print.inc_inf")
export("summary.inc_inf")
export("print.inc_subset")
export("summary.inc_subset")


S3method(print, inc)
S3method(summary, inc)
S3method(print, inc_t_sens)
S3method(print, inc_inf)
S3method(summary, inc_inf)
S3method(print, inc_subset)
S3method(summary, inc_subset)

import(ggplot2)
import(confintr)
import(metafor)

importFrom("graphics", "lines", "mtext", "polygon", "title")
importFrom("stats", "reshape", "rnorm")
importFrom("metafor", "blup")
